/** markdown basic style sheet **/
header h1 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: .3em;
}

article h1 {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: .3em;
    border-bottom: 1px solid #c9c9c9;
}

article h2 {
    font-size: 1em;
    padding-bottom: .2em;
}

article h3 {
    font-size: .875em;
}

article h4 {
    font-size: .85em;
}

article h5 {
    font-size: .825em;
}
/** END :: basic style sheet **/
.highlight, pre {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 14px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
code, pre {
  font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 14px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: 0 0;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eff2f3;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
pre .meta {
  color: #8959a8;
}
pre .comment {
  color: #8e908c;
}
pre .tag, pre .xml .tag .title {
  color: #c82829;
}
pre .built_in, pre .number, pre .params {
  color: #f5871f;
}
pre .number, pre .string {
  color: #718c00;
}
pre .title {
  color: #3e999f;
}
pre .function {
  color: #4271ae;
}
pre .keyword {
  color: #8959a8;
}
html {
  background: #eee;
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "PingFang SC", "Noto Sans CJK", "Source Han Sans", "Microsoft Yahei", source-han-sans-simplified-c, sans-serif;
  font-size: 1rem;
}
.body-wrapper {
  position: relative;
  max-width: 52rem;
  margin: auto;
  min-height: 100%;
  box-sizing: border-box;
}
.nav-header {
  padding: 0.2em 3.5vw;
  line-height: 1.6;
  height: 3vw;
  min-height: 2.2em;
}
.info-bottom {
  padding: 0.2em 3.5vw;
  margin-bottom: 0;
  min-height: 3em;
  margin-top: 1em;
}
.info-bottom .info-bottom-text {
  position: absolute;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  bottom: 0;
}
.main-body {
  background-color: #fff;
  padding: 0.8vw 3.5vw 1.4vw 3.5vw;
  font-size: 1.1rem;
  line-height: 1.6;
}
a, a:visited {
  color: #555;
  text-decoration: none;
}
a:hover {
  color: rgb(10,10,10);
}
.main-body a, .main-body a:visited {
  color: rgb(220,0,0);
}
.main-body a:hover {
  color: rgb(10,10,10);
}
blockquote {
  border-left: 3px solid #ddd;
  padding-left: 0.7em;
  margin: 16px 1px;
  color: #555;
}
pre {
  padding: 0.3rem 0.7rem;
  overflow: auto;
}
img {
  max-width: 100%;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.2);
}
table {
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.izhengfan-tag {
  padding: 0.1em 0.6em;
  margin: 0.2em 0.4em;
  line-height: 1.5;
  border: solid 1px #ddd;
  border-radius: 999px;
  display: inline-block;
  font-size: 1rem;
}
.izhengfan-tag:hover {
  background-color: #ddd;
}
.markdown-toc {
  border: solid 1px #ddd;
  border-radius: 3px;
  padding: 0.5em 0em 0.5em 2.5em;
}
.markdown-toc ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
#info-bottom {
  margin-top: 2.4em;
  line-height: 1.4;
  font-size: 1rem;
}
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #eee;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
/* disqus custom */
.disqus_btn {
  cursor: pointer;
  border: 1px solid #ddd;
  color: #999;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  padding: 10px;
  transition: 0.5s;
}
.disqus_btn:hover {
  cursor: pointer;
}
table tbody tr td {
  padding-right: 0.5em;
}
article table tbody tr td {
  padding-right: 0.3em;
  padding-left: 0.3em;
  border: 1px solid #ddd;
}
/**
 * Syntax highlighting styles
 */
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary h4::before {
  content: '\25B6';
}

details[open] > summary h4::before {
  content: '\25BC';
}
/* copyright */
.post-copyright {
    -webkit-font-smoothing: subpixel-antialiased;
    font-feature-settings: "liga","locl" 0;
    color: #333;
    font-size: 16px;
    margin-left: 0 !important;
    padding: .7em 1em;
    border-left: .25em solid rgb(231, 117, 0);
    background-color: rgba(112,101,163,0.05);
    margin: 1em 0;
}
#TableOfContents>ul {
  padding: 0;
}

#TableOfContents>ul>li{
  list-style: none;
}
