/* onehalf-dark theme for Chroma syntax highlighting */
/* Background */ .chroma { color: #dcdfe4; background-color: #282c34 }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #e06c75 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%; background-color: #3e4451 }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #5c6370 }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: #5c6370 }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #c678dd }
/* KeywordConstant */ .chroma .kc { color: #c678dd }
/* KeywordDeclaration */ .chroma .kd { color: #c678dd }
/* KeywordNamespace */ .chroma .kn { color: #c678dd }
/* KeywordPseudo */ .chroma .kp { color: #c678dd }
/* KeywordReserved */ .chroma .kr { color: #c678dd }
/* KeywordType */ .chroma .kt { color: #e5c07b }
/* Name */ .chroma .n { color: #dcdfe4 }
/* NameAttribute */ .chroma .na { color: #e5c07b }
/* NameBuiltin */ .chroma .nb { color: #e5c07b }
/* NameBuiltinPseudo */ .chroma .bp { color: #e5c07b }
/* NameClass */ .chroma .nc { color: #e5c07b }
/* NameConstant */ .chroma .no { color: #e5c07b }
/* NameDecorator */ .chroma .nd { color: #e5c07b }
/* NameEntity */ .chroma .ni { color: #dcdfe4 }
/* NameException */ .chroma .ne { color: #e06c75 }
/* NameFunction */ .chroma .nf { color: #61afef }
/* NameFunctionMagic */ .chroma .fm { color: #61afef }
/* NameLabel */ .chroma .nl { color: #dcdfe4 }
/* NameNamespace */ .chroma .nn { color: #dcdfe4 }
/* NameOther */ .chroma .nx { color: #dcdfe4 }
/* NameProperty */ .chroma .py { color: #dcdfe4 }
/* NameTag */ .chroma .nt { color: #e06c75 }
/* NameVariable */ .chroma .nv { color: #e06c75 }
/* NameVariableClass */ .chroma .vc { color: #e06c75 }
/* NameVariableGlobal */ .chroma .vg { color: #e06c75 }
/* NameVariableInstance */ .chroma .vi { color: #e06c75 }
/* NameVariableMagic */ .chroma .vm { color: #e06c75 }
/* Literal */ .chroma .l { color: #98c379 }
/* LiteralDate */ .chroma .ld { color: #98c379 }
/* LiteralString */ .chroma .s { color: #98c379 }
/* LiteralStringAffix */ .chroma .sa { color: #98c379 }
/* LiteralStringBacktick */ .chroma .sb { color: #98c379 }
/* LiteralStringChar */ .chroma .sc { color: #98c379 }
/* LiteralStringDelimiter */ .chroma .dl { color: #98c379 }
/* LiteralStringDoc */ .chroma .sd { color: #98c379 }
/* LiteralStringDouble */ .chroma .s2 { color: #98c379 }
/* LiteralStringEscape */ .chroma .se { color: #98c379 }
/* LiteralStringHeredoc */ .chroma .sh { color: #98c379 }
/* LiteralStringInterpol */ .chroma .si { color: #98c379 }
/* LiteralStringOther */ .chroma .sx { color: #98c379 }
/* LiteralStringRegex */ .chroma .sr { color: #56b6c2 }
/* LiteralStringSingle */ .chroma .s1 { color: #98c379 }
/* LiteralStringSymbol */ .chroma .ss { color: #98c379 }
/* LiteralNumber */ .chroma .m { color: #d19a66 }
/* LiteralNumberBin */ .chroma .mb { color: #d19a66 }
/* LiteralNumberFloat */ .chroma .mf { color: #d19a66 }
/* LiteralNumberHex */ .chroma .mh { color: #d19a66 }
/* LiteralNumberInteger */ .chroma .mi { color: #d19a66 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #d19a66 }
/* LiteralNumberOct */ .chroma .mo { color: #d19a66 }
/* Operator */ .chroma .o { color: #dcdfe4 }
/* OperatorWord */ .chroma .ow { color: #c678dd }
/* Punctuation */ .chroma .p { color: #dcdfe4 }
/* Comment */ .chroma .c { color: #5c6370; font-style: italic }
/* CommentHashbang */ .chroma .ch { color: #5c6370; font-style: italic }
/* CommentMultiline */ .chroma .cm { color: #5c6370; font-style: italic }
/* CommentSingle */ .chroma .c1 { color: #5c6370; font-style: italic }
/* CommentSpecial */ .chroma .cs { color: #5c6370; font-style: italic }
/* CommentPreproc */ .chroma .cp { color: #5c6370; font-style: italic }
/* CommentPreprocFile */ .chroma .cpf { color: #5c6370; font-style: italic }
/* Generic */ .chroma .g { color: #dcdfe4 }
/* GenericDeleted */ .chroma .gd { color: #e06c75 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr { color: #e06c75 }
/* GenericHeading */ .chroma .gh { color: #61afef; font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #98c379 }
/* GenericOutput */ .chroma .go { color: #5c6370 }
/* GenericPrompt */ .chroma .gp { color: #5c6370 }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #61afef }
/* GenericTraceback */ .chroma .gt { color: #e06c75 }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w { color: #5c6370 }

/* Code block styling */
.highlight {
  background: #282c34;
  border-radius: 4px;
  overflow: auto;
}
.highlight pre {
  background: #282c34;
  margin: 0;
  padding: 1em;
}
.highlight code {
  background: transparent;
  color: #dcdfe4;
}
pre code {
  background: transparent;
  color: #dcdfe4;
}
