<!DOCTYPE html lang="zh-cmn-Hans">
<html>
    <head>
    {{- partial "head.html" . -}}
    </head>
    <link rel="preconnect" href="//use.typekit.net"><!-- for typekit script -->
    <body>
    <div class="body-wrapper">
        {{- partial "header.html" . -}}
        <div class="main-body"> {{- block "main" . }}{{- end }} </div>
        {{- partial "footer.html" . -}}
    </div>
    </body>
    {{- partial "vendors.html" . -}}
    {{- partial "google-analytics.html" . -}}
    <script src="//use.typekit.net/hvv6ahj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {{- block "otherscript" . }}{{- end }}
</html>
