{{ define "main" }}

<h3>标签</h3>
<p>
    {{ range .Pages }}
    <block class="izhengfan-tag">
        <a href="#{{ .LinkTitle | urlize }}">{{ .LinkTitle }}</a>
    </block>
    {{ end }}
</p>

{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
<div>
    <legend id="{{ $name | urlize }}">{{ $name }}</legend>

    <ul>
        {{ range $taxonomy }}
        <p>
            <span>{{ .Date.Format "2006-01-02" }}</span>
            <a class="pjaxlink" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </p>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ end }}
