{{ define "main" }}

<h3>{{ i18n "tags_title" }}</h3>
<p>
    {{ range .Pages }}
    <span class="izhengfan-tag">
        <a href="#{{ .LinkTitle | urlize }}">{{ .LinkTitle }}</a>
    </span>
    {{ end }}
</p>

{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
<div>
    <h4 id="{{ $name | urlize }}">{{ $name }}</h4>

    <ul>
        {{ range $taxonomy }}
        <li>
            <span>{{ .Date.Format "2006-01-02" }}</span>
            <a class="pjaxlink" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ end }}
