{{ define "main" }}

<h3>标签</h3>
<p>
    {{ range .Pages }}
    <block class="izhengfan-tag">
        <a href="#{{ .Title }}">{{ .Title }}</a>
    </block>
    {{ end }}
</p>

{{ range .Site.Pages.GroupByParam "tags" }}
    {{ $tag := .Key }}
    <div><legend id="#{{ $tag }}">{{ $tag }}</legend></div>

    <ul>
        {{ range .Pages }}
        <p>
            <span>{{ .Date.Format "2006-01-02" }}</span>
            <a class="pjaxlink" href="{{ .Permalink }}">{{ .Title }}</a>
        </p>
        {{ end }}
    </ul>
{{ end }}

{{ end }}
