{{ define "main" }}
<header>
    <h2>{{ .Title }}</h2>
    <p>
        <i>{{ .Date.Format "2006-01-02 03:04" }}</i>
        {{ if .Site.Params.source_url }}
        • <a href="{{ .Site.Params.source_url }}{{ .File.Path }}">编辑本页</a>
        {{ end }}
    </p>
</header>
<article>
    {{ $enable_toc := ne .Params.toc false }}
    {{ if and $enable_toc (ne (countwords .TableOfContents) 0) }}
        {{ $toc := .TableOfContents }}
        {{ $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") }}
        {{ $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") }}
        {{ $toc := (replace $toc "<ul>\n<li>\n<ul>" "<ul>") }}
        {{ $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") }}
        {{ $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") }}
        {{ $toc := (replace $toc "</ul></li>\n</ul>" "</ul>") }}
        <!-- count the number of remaining li tags -->
        <!-- and only display ToC if more than 1, otherwise why bother -->
        {{ if gt (len (split $toc "<li>")) 2 }}
            <div class="markdown-toc">{{ safeHTML $toc }}</div>
        {{ end }}
    {{ end }}

    {{ .Content }}
</article>
<div id="info-bottom">
{{ if eq .Type "posts" }}
    <hr>
    <p>标签:
        {{ range .Params.tags }}
        <block class="izhengfan-tag">
        <a href="{{ printf "%s#%s" ("tags/" | relURL) . }}">{{ . }}</a>
        </block>
        {{ end }}
    </p>
    {{ partial "disqus.html" . }}
{{ end }}

</div>
{{ end }}

{{ define "otherscript" }}
{{ partial "disqus-script.html" . }}
{{ end }}
