<div class="info-bottom">
    <div class="info-bottom-text">
        <!-- license -->
        <div itemprop="license">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img src="{{ "/img/cc-by-nc-sa.svg" | absURL }}" alt="Creative Commons"/>
            </a>

            <!-- copyright -->
            &copy; {{ default .Site.Params.CopyrightSince "2013" }} &mdash;
            <span itemprop="copyrightYear">{{ now.Format "2006" }}</span>
            <span class="author" itemprop="copyrightHolder">{{ .Site.Params.Copyright | safeHTML }}</span>
            <!-- copyright end -->

            {{ range .Site.Params.footertext }}
                | {{ . | markdownify }}
            {{ end }}
        </div>
        <!-- license end -->

    </div>
</div>
