<div class="nav-header">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

    <!-- social -->
    {{- if .Site.Params.social }}|{{ end -}}
    {{- range $label, $attrs := .Site.Params.social }}
        {{- with split $attrs "||" }}
            {{ $link := trim (index . 0) " " }}
            {{ $icon := trim (index . 1) " " }}
            <a href="{{- $link -}}" target="_blank" rel="noopener" title="{{- $label -}}">
                <!-- use icomoon instead
                <i class="fa fa-fw fa-{{- $icon -}}"></i>
                -->
                <span class="icon-{{- $icon -}}"></span>
            </a>
        {{ end -}}
    {{ end -}}
    <!-- social end -->

    {{- range .Site.Menus.main }}
        | <a href="{{ .URL }}">{{- .Name -}}</a>
    {{ end }}

    {{- if gt (len .Site.Languages) 1 }}
        |
        {{- range .Translations }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{- else }}
            {{- range .Site.Languages }}
                {{- if ne $.Language.Lang .Lang }}
                    <a href="{{ .Lang | relLangURL }}">{{ .LanguageName }}</a>
                {{- end }}
            {{- end }}
        {{- end }}
    {{- end }}
</div>
