{{ $theme_css_path := "/css" }}

<link rel="stylesheet" type="text/css" href="{{ printf "%s/style.min.css" $theme_css_path | absURL }}" />
{{ if ne .Kind "home" }}
<link rel="stylesheet" type="text/css" href="{{ printf "%s/syntax.min.css" $theme_css_path | absURL }}" />
{{ end }}
<meta name="keywords" content="{{- range .Site.Params.keywords -}}{{ . }},{{- end -}}"/>

<!-- for Next Theme -->
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2"/>

<!-- Disable baidu tranformation -->
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<meta name="Description" content="{{ default .Summary .Site.Params.description }}">
<title>{{ .Title }}</title>

<!-- verification -->
{{ range .Site.Data.verification }}
    {{ if ne .content "" }}
    <meta name="{{ .name }}" content="{{ .content }}" />
    {{ end }}
{{ end }}
<!-- verification end -->

{{ with .Site.Data.static }}
    {{ if .cdn.fontawesome_dynamic }}
    <link rel="stylesheet" type="text/css" href="{{ printf "%s/awesome.min.css" "/css" | absURL }}" />
    {{ else }}
    <script async src="//use.fontawesome.com/e2ae82ac15.js"></script>
    {{ end }}

    {{ with .favicon }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .apple_touch_icon | absURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .medium | absURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .small | absURL }}">
    <link rel="mask-icon" href="{{ .safari_pinned_tab | absURL }}" {{ if .android_chrome_color }}color="{{ .android_chrome_color }}"{{ end }}>
    <link rel="manifest" href="{{ .android_manifest | absURL }}">
    <meta name="msapplication-config" content="{{ .ms_browserconfig | absURL }}" />
    {{ end }}
{{ end }}
