{{ define "main" }}
<article>
    <blockquote><p>{{ .Site.Params.description }}</p></blockquote>
</article>

<p style="margin-top:1.2em;margin-bottom:0;">
    <b>文章</b> |
    按<a href="{{ relURL "tags/" | absURL }}">标签</a>浏览 |
    订阅 <a href="{{ relURL "atom.xml" | absURL }}">RSS</a>
</p>
<hr>

<table>
    <tbody>
    {{ range (where .Site.RegularPages "Type" "posts").GroupByDate "2006" }}
        <tr class="blog-table">
            <td>
                {{ $this_year := .Key }}
                <h3 id="year_{{ $this_year }}">{{ $this_year }}</h3>
            </td>
        </tr>
        {{ range .Pages }}
            <tr class="blog-table">
                <td>{{ .Date.Format "2006-01-02" }}</td>
                <td>
{{ if .Params.linkcolor }}
{{ $color := index .Site.Data.color.link .Params.linkcolor }}
<a href="{{ .Permalink }}" class="post-list-item" style="color:{{ $color }};">
{{ else }}
                    <a href="{{ .Permalink }}" class="post-list-item">
{{ end }}
                        {{- .LinkTitle -}}
                    </a>
                </td>
            </tr>
        {{ end }}
    {{ end }}
    </tbody>
</table>
{{ end }}
